---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bebidas - Oliva Iguazú">
  <section class="flex flex-col gap-6 justify-center">
    <span class="font-serif text-2xl -mb-[0.73rem]">Bebidas</span>
    <Card
      title="GASEOSAS"
      description="Coca cola, Coca cola Zero, Fanta, Sprite"
      price={3000}
    />
    <Card
      title="AGUA"
      description="Con y sin gas, tónica, saborizada pomelo"
      price={3000}
    />
    <Card
      title="CERVEZA"
      description="Producción local (Cervecería Achával)"
      price={3000}
    />
    <Card
      title="JUGOS"
      description="Naranja, pepino y jengibre; Naranja, pera, manzana; Naranja y remolacha"
      price={3000}
    />
  </section>
</Layout>
