---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ciabatta - Oliva Iguazú">
  <section class="flex flex-col gap-6 justify-center">
    <span class="font-serif text-2xl -mb-[0.73rem]">Ciabatta</span>
    <Card title="J&Q" description="Jamón y queso" price={3000} />
    <Card title="SALAME" description="Queso y salame" price={3000} />
    <Card
      title="SALAME COMPLETO"
      description="Queso, salame, lechuga y tomate"
      price={3000}
    />
    <Card title="MORTADELA" description="Queso y mortadela" price={3000} />
    <Card title="RUCULA" description="Queso, jamón y rúcula" price={3000} />
    <Card
      title="OLIVA"
      description="Aceitunas, jamon, queso, choclo, atún"
      price={3000}
    />
    <Card
      title="VEGGIE"
      description="Queso, lechuga, tomate, huevo y aceitunas"
      price={3000}
    />
    <Card
      title="ESPECIAL"
      description="Consultar sandwich de la semana"
      price={3000}
    />
  </section>
</Layout>
