---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oliva">
  <main class="flex flex-col">
    <div class="my-10">
      <h1 class="text-center uppercase text-5xl text-gray-400">Menu</h1>
      <h2 class="font-serif text-center text-7xl -mt-3">Sandwich</h2>
    </div>
    <img
      class="absolute w-20 top-4 -left-10 opacity-50"
      src="/images/beer.png"
      alt="beer"
    />
    <img
      class="absolute w-36 -right-14 opacity-50"
      src="/images/sub.png"
      alt="sub"
    />
    <img
      class="absolute w-36 top-1/2 -left-10 opacity-50"
      src="/images/limonada.png"
      alt="limonada"
    />
    <img
      class="absolute w-36 bottom-0 -right-14 opacity-50"
      src="/images/sandwich.png"
      alt="sandwich"
    />
    <img
      class="absolute w-36 top-[30%] -right-14 opacity-50"
      src="/images/salad.png"
      alt="salad"
    />
    <section class="flex flex-col gap-6 justify-center">
      <article class="font-sans mx-auto">
        <span class="font-serif text-2xl -mb-[0.73rem]">Ciabatta</span>
        <div class="-mt-[0.73rem]">
          <span class="font-medium">J&Q</span>
          <span>________________</span>
          <span>$ 3.000</span>
        </div>
        <div>
          <span>Jam贸n y queso</span>
        </div>
      </article>
      <article class="font-sans mx-auto">
        <span class="font-serif text-2xl -mb-[0.73rem]">Miga</span>
        <div class="-mt-[0.50rem]">
          <div>
            <span class="font-medium">J&Q</span>
            <span>________________</span>
            <span>$ 3.000</span>
          </div>
          <div>
            <span>Jam贸n y queso</span>
          </div>
        </div>
        <div>
          <div>
            <span class="font-medium">J&Q</span>
            <span>________________</span>
            <span>$ 3.000</span>
          </div>
          <div>
            <span>Jam贸n y queso</span>
          </div>
        </div>
        <div>
          <div>
            <span class="font-medium">J&Q</span>

            <span>________________</span>
            <span>$ 3.000</span>
          </div>
          <div>
            <span>Jam贸n y queso</span>
          </div>
        </div>
      </article>
    </section>
  </main>
</Layout>
