---
interface Props {
  title: string;
  price: number;
  description: string;
}

const { title, price, description } = Astro.props;
---

<li class="font-sans mx-auto">
  <div class="flex flex-row gap-1">
    <span class="font-medium">{title}</span>
    <span class="border-b-2 h-5 border-[#004aad] flex-1"></span>
    <span class="font-medium">$ {price}</span>
  </div>
  <div>
    <span>{description}</span>
  </div>
</li>

<style>
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
