---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Visitanos en nuestro local para comer los mejores sandwich de la ciudad."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "White star";
    src: url("/fonts/whitestar.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    background: #f5e9db;
    color: #004aad;
    overflow: hidden;
    height: 100vh;
  }
</style>
